
<!-- Include Header here -->

<%- include ('../partials/header') %> 
<!-- Include Navbar menu here -->
<%- include ('../partials/menu') %>


<!DOCTYPE hmtl>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <link  href = "/css/style.css" rel="stylesheet">
        <title>Dashboard</title>
    </head>
    <!-- 20px bumper on left for everything within main -->
    <main style="margin-left: 20px"> 
        
        <h1 style = "color: azure; text-decoration: underline;"><centre>Dashboard</centre></h1>
        <div class="solar">

            <h3>Solar flare data recorded by NASA</h3>
            <!-- Table for solar flare info -->
            <table style ="border: 5px solid #11416c; border-collapse:collapse; background-color: #11416c;">
                <tr>
                    <th>Flare ID</th>
                    <td> <%=solarFlares.data[0].flrID %> </td>
                </tr>
                <tr>
                    <th>Instruments</th>
                    <td> <%=solarFlares.data[0].instruments[0].displayName %> </td>
                </tr>
                <tr>
                    <th>Begin time</th>
                    <td> <%=solarFlares.data[0].beginTime %> </td>
                </tr>
                <tr>
                    <th>Peak time</th>
                    <td> <%= solarFlares.data[0].peakTime %> </td>
                </tr>
                <tr>
                    <th> End time </th>
                    <td><%= solarFlares.data[0].endTime %></td>
                </tr>
                <tr>
                    <th> Class type </th>
                    <td><%= solarFlares.data[0].classType%></td>
                </tr>
                <tr>
                    <th> Source location </th>
                    <td><%= solarFlares.data[0].sourceLocation %></td>
                </tr>
                <tr>
                    <td><a style="font-family: Verdana, Geneva, Tahoma, sans-serif;color: aqua;"href="<%= solarFlares.data[0].link %>"> Recent solar flare full data - NASA Website</a></td>
                </tr>
            </table>
            
        </div>
    
    </main>
</html>

<%- include ('../partials/footer') %>


