<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<!DOCTYPE hmtl>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <link  href = "/css/style.css" rel="stylesheet">
        <script src = "/js/home.js"></script>
        <title>Space Image Of the Day</title>
    </head>
    <body onload="contentLoader()">
        <div class = "content">
            <h1 id="title"></h1>
            <div id = "content">
    
            </div>
        </div>
        <%-include ('\commentModal.ejs') %>
        <p style="color: white; font-size: larger; font-family: 'Times New Roman', Times, serif; display: flex; justify-content: center; align-items: center;">
            Here are some comments other users wrote:
        </p>
        <table style="display: flex; justify-content: center; align-items: center;">
            <% results.forEach(function(result) { %>
                <tr>
                    <td>
                        <p style="color: aqua; font-size: medium; font-family: 'Times New Roman', Times, serif;">
                            <%- result.email %>:  <%- result.comment %>
                        </p>


                    </td>
                </tr>
            <%});%> 
        </table>




<%- include ('../partials/footer') %>