<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/profile.css">
  <title>Profile</title>
  <style>
    body {
        padding: 8px;
        background-image: url(../img/skyBackground.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 20px;
            color: white;
        }
       
        p {
            margin-bottom: 20px;
            font-size: 1.2em;
            color: white;
        }
  </style>
</head>

<body> 
  <h1>Welcome, <%= name %></h1>
  
  <p><strong>Email:</strong> <%= email %></p>
  
  <% if (birthday) { %>
    <p><strong>Birthday:</strong> <%= birthday.toLocaleDateString() %></p>
  <% } else { %>
    <p><strong>Birthday:</strong> N/A</p>
  <% } %>
  
  <div class="profile-picture">
    <img src="/img/dogg.png" alt="Profile Picture">
    <input type="file" id="profile-picture-upload">
    
  </div>
  <h1>Liked Pictures</h1>
  <div class="container">
    <div class="row">
      <% pictures.forEach(function(picture) { %>
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src=<%= picture %>>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</body>
</html>
